# 依赖
node_modules/

# 日志
logs/
*.log
npm-debug.log*

# 数据
backend/data/
*.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# 系统
.DS_Store
Thumbs.db

# 微信开发者工具
/miniapp/*.wxapkg
/miniapp/app.js.map

# 环境变量
.env
.env.local
